In [ ]:
import pandas as pd

In [ ]:
livros = pd.read_csv(
    '/content/drive/MyDrive/Sistema de recomendação/books.csv',
    usecols=['book_id', 'title', 'authors'])
livros[0:10]

   book_id  ...                                              title
0        1  ...            The Hunger Games (The Hunger Games, #1)
1        2  ...  Harry Potter and the Sorcerer's Stone (Harry P...
2        3  ...                            Twilight (Twilight, #1)
3        4  ...                              To Kill a Mockingbird
4        5  ...                                   The Great Gatsby
5        6  ...                             The Fault in Our Stars
6        7  ...                                         The Hobbit
7        8  ...                             The Catcher in the Rye
8        9  ...              Angels & Demons  (Robert Langdon, #1)
9       10  ...                                Pride and Prejudice

[10 rows x 3 columns]

In [ ]:
livros.to_csv(
    '/content/drive/MyDrive/Sistema de recomendação/books-simpl.csv',
    index=False)

In [ ]:
livros_simpl = pd.read_csv('/content/drive/MyDrive/Sistema de recomendação/books-simpl.csv')
livros_simpl.head()

   book_id  ...                                              title
0        1  ...            The Hunger Games (The Hunger Games, #1)
1        2  ...  Harry Potter and the Sorcerer's Stone (Harry P...
2        3  ...                            Twilight (Twilight, #1)
3        4  ...                              To Kill a Mockingbird
4        5  ...                                   The Great Gatsby

[5 rows x 3 columns]